body {
    background: url(https://files.wallpaperpass.com/2019/09/science%20wallpaper%20120%20-%204500x4500-768x768.jpg);
}

#home {
    background: transparent;
}

.bg {
    background: rgb(74,146,254);
}